<a href="https://colab.research.google.com/github/ashishpandey448/IOT-Individual-Project/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hello world")

hello world

In [6]:
a=5
print(a*a)
y="string"
print(y + " hello")

25
string hello

In [10]:
thislist = [5, "hello"]
thislist[0]="hi"
thislist[0]
thislist

['hi', 'hello']

In [13]:
thistuple=("hi", "hello")
thistuple[0]

'hi'

In [18]:
thisdict={
    "key":"value",
    "key2":10
}
thisdict['key']= "stringvalue"
thisdict

{'key': 'stringvalue', 'key2': 10}

In [26]:
x=6
if x<3:
  print("this is more than 3.")
else:
  print("this is less than 3")

this is less than 3

In [27]:
a= 10
b=10
if a>b:
   print("a is greater than b")
elif a==b:
  print("a is equal to b")
else:
  print("a is less than b")

a is equal to b

In [28]:
x=4
if x<5:
  print('inside first if')
  if x<3:
    print("ok")

inside first if

In [35]:
i=3
while i>0 and i>2:
  print(i)
  i-=1

3

In [41]:
fruits=["apple", "banana", "mango"]
for x in range(0,3):
  print(fruits[x])

apple
banana
mango

In [44]:
fruits=["apple", "banana", "mango"]
for x in range(len(fruits)):
  print(fruits[x])

apple
banana
mango

In [48]:
def myFunction(a,b):
  print(a+b)
  
myFunction(20,10)

30

In [51]:
def myFunction(a,b):
  return a+b
  
sum = myFunction(20,10)
sum

30

In [56]:
class person:

  '''
  jkcvb
  '''
  '''
  jyfygkj
  '''
  
  
  def __init__(self, name, age):
    self.name = name 
    self.age = age

  def funcprint(self):
    print("name:"+ self.name + "age: " + str(self.age))

p1= person("john", 36)
p2 = person("brian", 39)
print(p1.name)
print(p1.age)
p1.funcprint()
p2.funcprint()

print(p2.name)
print(p1.__doc__)

john
36
name:johnage: 36
name:brianage: 39
brian

  jkcvb

In [58]:
import platform
print(platform.system())

Linux

In [66]:
st = "hello"
st[::-1]

'olleh'

In [68]:
import pandas as pd

In [69]:
df= pd.reed_csv('filename.csv')
df

# df.describe
# df.head()
# df.tail()
# ac= df.dropna()
# df['colname']

AttributeError: ignored

In [70]:
# import maplotlib.pyplot as py
# df.plot()
# py.show

In [74]:
import numpy as np

arr = np.array([1,2,3,4,5,6
                ])
# arr= np.arange(6)
# arr.reshape(3,3)
# arr.transpose()

In [ ]:
arr1 = np.array([1,2,3,4,5,6])
arr2 = np.array([1,2,3,4,5,6])
# np.vstack((arr1, arr2))

# np.hstack((arr1, arr2))